<header class="header">
  
    <div class="container">
      <div class="bar">
        <a class="logo" href="index.html">
          <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
        </a>
  
        <nav class="navigation">
            <a routerLink="/us" class="navigation__link">About Us</a>
            <a routerLink="/courses" class="navigation__link">Courses</a>
            <a routerLink="/contact" class="navigation__link">Contact</a>
        </nav>
      </div>
    </div>
    
    <div class="header__text">
      <h2 class="no-margin">Cafe Blog with advises and courses</h2>
      <p class="no-margin">Learn from the experts with the best recipes and tips</p>
    </div>
  </header>
  
  <main class="container">
    <h3 class="center-text">Our Upcoming Courses and Workshops</h3>

    <div class="course">
        <div class="course__image">
            <img src="assets/img/curso1.jpg" alt="Course Image">
        </div>
        <div class="course__information">
            <h4 class="no-margin">Coffee extraction techniques</h4>
            <p class="course__label">Price:
              <span class="course__info">Free</span>
            </p>
            <p class="course__label">Share:
              <span class="course__info">20</span>
            </p>
            <p class="course__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum facilis, iusto architecto commodi 
                exercitationem quas iste rem culpa alias atque velit officia modi quisquam pariatur ea aperiam aut nam excepturi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo soluta atque eos aliquam fuga 
                eius eum natus nihil ab, velit magnam perspiciatis suscipit neque corporis possimus omnis assumenda iusto hic!
            </p>
        </div> <!--.course-information-->
    </div> <!--.course-->
    <div class="course">
        <div class="course__image">
            <img src="assets/img/curso2.jpg" alt="Course Image">
        </div>
        <div class="course__information">
            <h4 class="no-margin">Workshop for Roasting and Grinding Grains</h4>
            <p class="course__label">Price:
              <span class="course__info">Free</span>
            </p>
            <p class="course__label">Share:
              <span class="course__info">20</span>
            </p>
            <p class="course__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum facilis, iusto architecto commodi 
                exercitationem quas iste rem culpa alias atque velit officia modi quisquam pariatur ea aperiam aut nam excepturi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo soluta atque eos aliquam fuga 
                eius eum natus nihil ab, velit magnam perspiciatis suscipit neque corporis possimus omnis assumenda iusto hic!
            </p>
        </div> <!--.course-information-->
    </div> <!--.course-->
    <div class="course">
        <div class="course__image">
            <img src="assets/img/curso3.jpg" alt="Course Image">
        </div>
        <div class="course__information">
            <h4 class="no-margin">4 Coffee recipes for beginners</h4>
            <p class="course__label">Price:
              <span class="course__info">Free</span>
            </p>
            <p class="course__label">Share:
              <span class="course__info">20</span>
            </p>
            <p class="course__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum facilis, iusto architecto commodi 
                exercitationem quas iste rem culpa alias atque velit officia modi quisquam pariatur ea aperiam aut nam excepturi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo soluta atque eos aliquam fuga 
                eius eum natus nihil ab, velit magnam perspiciatis suscipit neque corporis possimus omnis assumenda iusto hic!
            </p>
        </div> <!--.course-information-->
    </div> <!--.course-->
  
  </main>
  
  <footer class="footer">
    <div class="container">
      <div class="bar">
        <a class="logo" href="index.html">
          <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
        </a>
  
        <nav class="navigation">
          <a href="us.html" class="navigation__link">About Us</a>
          <a href="courses.html" class="navigation__link">Courses</a>
          <a href="contact.html" class="navigation__link">Contact</a>
        </nav>
      </div>
    </div>
  </footer>
