<header class="header">
  
    <div class="container">
      <div class="bar">
        <a class="logo" href="index.html">
          <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
        </a>
  
        <nav class="navigation">
            <a routerLink="/us" class="navigation__link">About Us</a>
            <a routerLink="/courses" class="navigation__link">Courses</a>
            <a routerLink="/contact" class="navigation__link">Contact</a>
        </nav>
      </div>
    </div>
    
    <div class="header__text">
      <h2 class="no-margin">Cafe Blog with advises and courses</h2>
      <p class="no-margin">Learn from the experts with the best recipes and tips</p>
    </div>
  </header>
  
  <main class="container">
    <h3 class="center-text">Contact</h3>

    <div class="contact-bg"></div>
        
    <form class="form">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" placeholder="Your Name" id="name">
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="email" placeholder="Your Email" id="email">
        </div>
        <div class="field">
            <label for="message">Message</label>
            <textarea id="message" cols="30" rows="10"></textarea>
        </div>

        <div class="field">
            <input type="submit" value="Send" class="button button--primary">
        </div>
    </form>

    
  </main>
  
  <footer class="footer">
    <div class="container">
      <div class="bar">
        <a class="logo" href="index.html">
          <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
        </a>
  
        <nav class="navigation">
          <a routerLink="/us" class="navigation__link">About Us</a>
          <a routerLink="/courses" class="navigation__link">Courses</a>
          <a routerLink="/contact" class="navigation__link">Contact</a>
        </nav>
      </div>
    </div>
  </footer>
