<header class="header">
  
    <div class="container">
      <div class="bar">
        <a class="logo" href="index.html">
          <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
        </a>
  
        <nav class="navigation">
            <a routerLink="/us" class="navigation__link">About Us</a>
            <a routerLink="/courses" class="navigation__link">Courses</a>
            <a routerLink="/contact" class="navigation__link">Contact</a>
        </nav>
      </div>
    </div>
    
    <div class="header__text">
      <h2 class="no-margin">Cafe Blog with advises and courses</h2>
      <p class="no-margin">Learn from the experts with the best recipes and tips</p>
    </div>
  </header>
  
  <main class="container">
    <h3 class="center-text">About Us</h3>

    <img src="assets/img/blog1.jpg" alt="blog image">

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
    </p>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
    </p>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolores molestiae nesciunt, autem iure recusandae unde explicabo maiores deleniti modi veniam blanditiis vitae quos, laudantium quaerat, veritatis velit deserunt perferendis!
    </p>
  </main>
  
  <footer class="footer">
    <div class="container">
      <div class="bar">
        <a class="logo" href="index.html">
          <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
        </a>
  
        <nav class="navigation">
            <a routerLink="/us" class="navigation__link">About Us</a>
            <a routerLink="/courses" class="navigation__link">Courses</a>
            <a routerLink="/contact" class="navigation__link">Contact</a>
          </nav>
      </div>
    </div>
  </footer>
