<header class="header">
  
  <div class="container">
    <div class="bar">
      <a class="logo" href="index.html">
        <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
      </a>

      <nav class="navigation">
        <a href="us.html" class="navigation__link">About Us</a>
        <a href="courses.html" class="navigation__link">Courses</a>
        <a href="contact.html" class="navigation__link">Contact</a>
      </nav>
    </div>
  </div>
  
  <div class="header__text">
    <h2 class="no-margin">Cafe Blog with advises and courses</h2>
    <p class="no-margin">Learn from the experts with the best recipes and tips</p>
  </div>
</header>