<header class="header">
  
    <div class="container">
      <div class="bar">
        <a class="logo" href="index.html">
          <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
        </a>
  
        <nav class="navigation">
          <a routerLink="/us" class="navigation__link">About Us</a>
          <a routerLink="/courses" class="navigation__link">Courses</a>
          <a routerLink="/contact" class="navigation__link">Contact</a>
        </nav>
      </div>
    </div>
    
    <div class="header__text">
      <h2 class="no-margin">Cafe Blog with advises and courses</h2>
      <p class="no-margin">Learn from the experts with the best recipes and tips</p>
    </div>
  </header>
  
  <div class="container main-content">
    <main class="blog">
      <h3>Our Blog</h3>
  
      <article class="entry">
        <div class="entry__image">
          <img src="assets/img/blog1.jpg" alt="Blog Image">
        </div>
  
        <div class="entry__content">
          <h4 class="no-margin">Types of Coffee Beans</h4>
  
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, id error pariatur eum non doloremque accusamus, 
            temporibus beatae expedita odio iste eligendi sunt labore rerum dolore atque commodi quo ducimus?
          </p>
  
          <a href="assets/img/entrada.html" class="button button--primary">Read Entry</a>
        </div>
      </article>
  
      <article class="entry">
        <div class="entry__image">
          <img src="assets/img/blog2.jpg" alt="Blog Image">
        </div>
  
        <div class="entry__content">
          <h4 class="no-margin">3 Delicious coffee recipes</h4>
  
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, id error pariatur eum non doloremque accusamus, 
            temporibus beatae expedita odio iste eligendi sunt labore rerum dolore atque commodi quo ducimus?
          </p>
  
          <a href="assets/img/entrada.html" class="button button--primary">Read Entry</a>
        </div>
      </article>
  
      <article class="entry">
        <div class="entry__image">
          <img src="assets/img/blog3.jpg" alt="Blog Image">
        </div>
  
        <div class="entry__content">
          <h4 class="no-margin">Benefits of coffee</h4>
  
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, id error pariatur eum non doloremque accusamus, 
            temporibus beatae expedita odio iste eligendi sunt labore rerum dolore atque commodi quo ducimus?
          </p>
  
          <a href="assets/img/entrada.html" class="button button--primary">Read Entry</a>
        </div>
      </article>
    </main>
    <aside class="sidebar">
      <h3>Our Courses and Workshops</h3>
  
      <ul class="courses no-padding">
        <li class="widget-course">
          <h4 class="no-margin">Coffee extraction techniques</h4>
          <p class="widget-course__label">Price:
            <span class="widget-course__info">Free</span>
          </p>
          <p class="widget-course__label">Share:
            <span class="widget-course__info">20</span>
          </p>
          <a href="assets/img/entrada.html" class="button button--secondary">More Information</a>
        </li>
  
        <li class="widget-course">
          <h4 class="no-margin">4 Coffee recipes for beginners</h4>
          <p class="widget-course__label">Price:
            <span class="widget-course__info">Free</span>
          </p>
          <p class="widget-course__label">Share:
            <span class="widget-course__info">20</span>
          </p>
          <a href="assets/img/entrada.html" class="button button--secondary">More Information</a>
        </li>
      </ul>
    </aside>
    
  </div>
  
  <footer class="footer">
    <div class="container">
      <div class="bar">
        <a class="logo" href="index.html">
          <h1 class="logo__name no-margin center-text">Blog<span class="logo__bold">DeCafé</span></h1>
        </a>
  
        <nav class="navigation">
          <a href="us.html" class="navigation__link">About Us</a>
          <a href="courses.html" class="navigation__link">Courses</a>
          <a href="contact.html" class="navigation__link">Contact</a>
        </nav>
      </div>
    </div>
  </footer>
